.footer {
    /* position: relative; */
    display: block;
    background: black;
    color: white;
    padding: 30px;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0;
    margin-top: 50px;
}

.footer a {
    color: white;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 5px;
}

.footer p {
    font-size: 10px;
    font-weight: normal;
}
