.logo {
    margin: auto;
    display: block;
    background: black;
}

nav,
#menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

header {
    position: relative;
    background: #FF9900;
    color: white;
    padding: 30px;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 50px;
}

nav {
    position: absolute;
    background: #FF9900;
    left: 0px;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 20px 30px;
    font-size: 1.2rem;
}

@media (min-width: 401px) {
    nav {
        display: block;
        position: static;
        /* display: flex;
        background: transparent;
        box-shadow: none;
        width: 100%;
        justify-content: center;
        align-items: flex-end;
        height: 100%; */
    }

    .hamburger-icon {
        display: none;
    }

    nav a {
        display: inline-block;
    }
}

/* Search Bar 
------------------- */

/* @media (max-width: 400px) {
    .search-form {
        margin: auto;
        float: right;
        margin-right: 10px;
    }

    input {
        padding: 10px;
        border: none;
        font-size: 16px;
    }

    button {
        float: right;
        background: black
        color: white
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        position: relative;
        padding: 7px;
        border: none;
        font-size: 16px;
    }
} */
