* {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
}

html, body {
    width: 100%;
}

/* Background - Homepage
-------------- */

@media only screen and (min-width: 401px) {
    body {
        background-image: url("../images/background.jpg");
        background-size: cover;
        /* margin: 0;
        padding: 0; */
    }
}

@media only screen and (max-width: 400px) {
    body {
        background-color: black;
        background-size: cover;
        /* margin: 0;
        padding: 0; */
    }
}

/* Subheader
----------------- */

subheader {
    text-align: left;
    display: block;
    font-size: 1.2rem;
    margin-left: 10px;
}

subheader a {
    color: white;
}

subheader2 {
    text-align: right;
    display: block;
    font-size: 1.2rem;
    margin-right: 10px;
}

subheader2 a {
    color: white;
}

/* Images - Homepage
-------------- */

.just-added img {
    width: 100%;
    height: 100%;
}

.just-added {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
}

.my-videos img {
    width: 100%;
    height: 100%;
}

.my-videos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
}

.just-added {
    background-color: black;
    padding: 20px;
    margin-bottom: 50px;
}

.my-videos {
    background-color: black;
    padding: 20px;
    margin-bottom: 50px;
}

@media only screen and (max-width: 400px) {
    .just-added img {
        width: 100%;
        height: 100%;
    }
    
    .just-added {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 15px;
        row-gap: 15px;
    }
    
    .my-videos img {
        width: 100%;
        height: 100%;
    }
    
    .my-videos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 15px;
        row-gap: 15px;
    }
    
    .just-added {
        background-color: black;
        padding: 10px;
        margin-bottom: 50px;
    }
    
    .my-videos {
        background-color: black;
        padding: 10px;
        margin-bottom: 50px;
    }  
} 


/* Buttons - Homepage (circles)
-------------- */

.cta-circles-home img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.cta-circles-home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
}

.cta-circles-home {
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media only screen and (max-width: 400px) {
    .cta-circles-home img {
        width: 100%;
        height: 100%;
    }
    
    .cta-circles-home {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 20px;
        row-gap: 30px;
    }
    
    .cta-circles-home {
        padding: 20px;
        margin-bottom: 50px;
    } 
}

/* Contact
---------------- */
@media only screen and (max-width: 400px) {
    .contact {
        color: white;
        text-align: center;
    }

    .contact h1 {
        font-size: 50px;
        margin-bottom: 30px;
    }

    .contact h2 {
        font-size: 30px;
    }

    .contact h2 p {
        font-size: 15px;
    }

    .contact h3 {
        font-size: 30px;
        margin-top: 30px;
    }

    .contact h3 p {
        font-size: 15px;
    }

    .contact img {
        margin-top: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

    h4 {
        color: white;
        background: #ff9900;
        text-align: center;
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    
    .form1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .form1 input {
        padding: 5px;
        border-radius: 10px;
        border-style: none;
        margin-inline: 10px;
    }

    .form2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .form2 input {
        padding: 5px;
        border-radius: 10px;
        border-style: none;
        margin-top: 20px;
        width: 250px;
    }

    .message p {
        color: white;
        margin-top: 20px;
        margin-left: 70px;
    }

    .form3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .form3 input {
        padding: 5px;
        border-radius: 10px;
        border-style: none;
        width: 250px;
        height: 100px;
    }

    .message-button {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .message-button a {
        color: white;
        text-decoration: none;
        /* white-space: nowrap; */
    }
    
    .sendmessage {
        background: #ff9900;
        font-size: 20px;
        padding: 5px;
        margin: 10px;
        letter-spacing: 0.5px;
        border-radius: 15px;
        border-style: none;
        width: 35%;
        text-align: center;
        margin-bottom: 50px;
    }

}

