

/* Navigation
-------------- */

nav,
#menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

header {
    position: relative;
    background: red;
    color: white;
    padding: 30px;
    font-size: 1.5rem;
}

nav{
    position: absolute;
    background: red;
    left: 0px;
}

nav a {
    display: block;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
}

@media (min-width: 401px) {
    nav {
        display: block;
        position: static;
    }

    .hamburger-icon {
        display: none;
    }

    nav a {
        display: inline-block;
    }
}

/* Images - Homepage
-------------- */

.just-added img {
    width: 100%;
    height: 100%;
}

.just-added {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
}

.my-videos img {
    width: 100%;
    height: 100%;
}

.my-videos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
}

.just-added {
    background-color: black;
    padding: 20px;
}

.my-videos {
    background-color: black;
    padding: 20px;
}