{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background: black
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: orange;
    font-size: 35px;
}





.header-cta {
    color: orange;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}


.photos img {
    width: 50%;
}

.photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
}