/* @media only screen and (max-width: 600px){
    body {
        width: 90%;
    }
    pre {
        font-size: .8em; 
        padding: .5em;
        background: black;
    }
} */


header {
    background-color: blue;
    margin-top: 0;
    overflow: auto;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: orange;
    font-size: 50px;
}

.logo {
    color: white;
    font-size: 25px;
}

ul {
    list-style-type: none;
    /* margin-left: 22%;
    margin-top: 4%; */
    /* position: fixed; */
    top: 0;
    width: 100%;
    /* display: grid; */
    /* grid-gap: 1em; */
    /* grid-template-columns: auto 1fr; */
    /* grid-template-rows: 1fr auto; */
    /* min-height: 400px; */
}

li {
    display: inline;
}

a {
    padding: 10px;
    background-color: red;
}

li a {
    /* display: block; */
    color: white;
    padding: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

li a:hover {
    color: orange;
}

@media only screen and (min-width: 500px) {
    body {
        width: 700px;
        font-size: 1.2em;
        padding: 1em .5em;
        background-image: url("../images/background.jpg");
        border-bottom: 2px solid #666;
        line-height: 1.6;;
        /* background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
        margin: 0px; */
        /* display: grid; */
        /* grid-gap: 1em; */
        /* grid-template-rows: auto 1fr auto; */
        /* min-height: 100vh; */
    }
}

@media only screen and (max-width: 499px){
    body {
        width: 320px;
        font-size: .8em;
        padding: .5em;
        background-color: black;
        border-bottom: 2px solid #666;
        line-height: 1.6;
        font-weight: bold;
        /* background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
        margin: 0px; */
        /* display: grid; */
        /* grid-gap: 1em; */
        /* grid-template-rows: auto 1fr auto; */
        /* min-height: 100vh; */
    } 
} 

.rows {
    display: grid;
    grid-template-rows: 3fr;
}

.just-added {
    /* padding: 5px;
    margin: 5px;   */
    display: flex;
    align-items: center;
    padding: 0;
    grid-row: 1;
}

.grid-item {
    justify-content: center;
}

.my-videos {
    /* align-content: center; */
    /* justify-items: center; */
    /* display: grid; */
    grid-row: 3;

    /* grid-column: 2/2; */
    display: flex;
    align-items: center;

}

.column {
    /* width:px; */
    /* display: inline; */
    /* max-width: max-content; */
    /* padding: 5px; */
}

.circle {
    background-color: white; 
    max-width: 150px;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
/* .circle {
    background-color: white; 
    max-width: 20%;
    padding: 4%;
    margin: 3%;
    border-radius: 50%;
    width: 5%;
    height: 5%;
} */
.circles {
    /* grid-column: 2/2; */
    display: flex;
    grid-row: 2;
}


.column2 {
    display: inline;
    width: 25%;
    padding: 5px;
}

